[submodule "api/sophisticated_wolves"]
	path = api/sophisticated_wolves
	url = https://github.com/NightKosh/Sophisticated-wolves-API.git
[submodule "api/thaumcraft/thaumcraft/api"]
	path = api/thaumcraft/thaumcraft/api
	url = https://github.com/Azanor/thaumcraft-5-api
